<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily-Director</title>
    <link rel="stylesheet" href="../../../static/css/style_signUp.css">
</head>


<body>
<header id="header">
    <!-- 메인 로고 -->
    <a href="#" id="logo">
        <img src="../../../static/img/logo/logo-white.png">
    </a>
</header>

<main id="main">

    <!-- 회원 아이디 비번 입력 -->
    <div id="sign-up-box">
        <input class="sign-up-contents" type="email" placeholder="email">
        <input class="sign-up-contents" type="text" placeholder="username">
        <input class="sign-up-contents" type="text" placeholder="nickname">
        <input class="sign-up-contents" type="password" placeholder="password">
        <button id="sign-up-btn" type="button">
            <p>Sign Up</p>
        </button>
        <a href=""></a>
    </div>

</main>

<script type="text/javascript" src="../../../static/script/userSignUp.js"></script>

</body>
</html>