<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, width=1920, initial-scale=1.0"/>
    <title>Daily-Director</title>
    <link rel="stylesheet" href="../../../static/css/style_note.css">
</head>


<body>
<header id="header">

    <!-- 메인 로고 -->
    <a href="#" id="logo">
        <img src="../../../static/img/logo/logo-white.png">
    </a>

    <button id="content-info-btn">
        <img src="../../../static/img/icons/noteIcon/content-info-white.png"/>
    </button>
</header>


<main id="main">
    <nav id="content-select">
        <ul>
            <li class="content-select-li">
                <button class="content-select-btn">
                    <img src="../../../static/img/icons/noteIcon/content-white.png">
                </button>
            </li>
            <li class="content-select-li">
                <button class="content-select-btn">
                    <img src="../../../static/img/icons/noteIcon/content-white.png">
                </button>
            </li>
            <li class="content-select-li">
                <button class="content-select-btn">
                    <img src="../../../static/img/icons/noteIcon/content-white.png">
                </button>
            </li>
            <li class="content-select-li">
                <button class="content-select-btn">
                    <img src="../../../static/img/icons/noteIcon/content-white.png">
                </button>
            </li>
        </ul>
    </nav>

    <article id="content-wrapper">
        <textarea id="content-write" type="text" placeholder="여기에 적으세요."></textarea>
    </article>

</main>

<script type="text/javascript" src="../../../static/script/note.js"></script>

</body>
</html>