html, body {
    width: 390px;
    height: 100%;
    margin: 0;
}

#header {
    background-color: black;
    position: fixed;
    padding-bottom: 10px;
    /* 헤더 고정하면서 생긴 여백 없애기*/
    top: 0;
    left: 0;
    right: 0;
    width: 390px;
    height: 40px;

    #logo {
        height: 40px;
        padding-top: 10px;
        padding-left: 140px;
        img {
            padding-top: 10px;
            width: 100px;
        }
    }

}
